@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 18;
  font-size: 1.125rem;
  background: url(../imgs/bg.jpeg) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  body {
    background-position-y: -100px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p,
span,
small {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hero {
  padding-top: 30%;
}
@media screen and (min-width: 480px) {
  .hero {
    padding-top: 10%;
  }
}
.hero h1 {
  text-align: center;
}

.cta {
  text-align: center;
  padding-top: 5%;
}

.jumbo {
  padding: 50px;
  box-sizing: border-box;
  background-color: #FFF;
}
@media screen and (min-width: 768px) {
  .jumbo {
    padding: 100px;
  }
}
.jumbo h1 {
  color: #333;
  font-weight: 300;
  text-align: center;
  font-size: 25;
  font-size: 1.5625rem;
}
.jumbo .projects {
  padding-top: 30px;
  text-align: center;
}
.jumbo .projects h1 {
  clear: both;
  font-weight: bold;
  padding-top: 30px;
  display: inline-block;
  font-size: 30;
  font-size: 1.875rem;
  text-transform: uppercase;
  border-top: solid 1px #2E3192;
}
.jumbo .projects .work {
  padding-top: 20px;
}

.about {
  width: 90%;
  margin: auto;
  margin-top: 70px;
  position: relative;
  background-color: #EAEAEA;
}
@media screen and (min-width: 768px) {
  .about {
    width: 70%;
  }
}
.about h1 {
  top: -40px;
  left: 20px;
  color: #2E3192;
  position: absolute;
}
@media screen and (min-width: 480px) {
  .about h1 {
    top: -75px;
    left: 60px;
  }
}
.about .info {
  color: #000;
  font-weight: 300;
  padding: 70px 20px;
  font-size: 20;
  font-size: 1.25rem;
}
@media screen and (min-width: 480px) {
  .about .info {
    padding: 70px 60px;
  }
}

.contact-us {
  width: 90%;
  margin: auto;
  margin-top: 70px;
  position: relative;
  background-color: #EAEAEA;
}
@media screen and (min-width: 768px) {
  .contact-us {
    width: 70%;
  }
}
.contact-us h1 {
  top: -40px;
  left: 20px;
  color: #2E3192;
  position: absolute;
}
@media screen and (min-width: 480px) {
  .contact-us h1 {
    top: -75px;
    left: 60px;
  }
}
.contact-us .info {
  color: #000;
  font-weight: 300;
  padding: 70px 30px;
  font-size: 20;
  font-size: 1.25rem;
}
@media screen and (min-width: 992px) {
  .contact-us .info {
    padding: 70px 60px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
.contact-us .info .contact-details h2 {
  color: #333;
  margin-left: 0px;
  font-size: 20;
  font-size: 1.25rem;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .contact-us .info .contact-details h2 {
    margin-left: 50px;
    font-size: 25;
    font-size: 1.5625rem;
  }
}
.contact-us .info .contact-details ul {
  margin: 0;
  padding: 0;
}
.contact-us .info .contact-details ul li {
  margin-top: 30px;
  list-style: none;
  position: relative;
  font-size: 15;
  font-size: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .contact-us .info .contact-details ul li {
    font-size: 18;
    font-size: 1.125rem;
  }
}
.contact-us .info .contact-details ul li img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
@media screen and (min-width: 480px) {
  .contact-us .info .contact-details ul li img {
    width: 30px;
    margin-right: 20px;
  }
}
.contact-us .info .contact-details ul li span {
  position: absolute;
}
.contact-us .info .form {
  z-index: 1;
  padding-top: 20px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .contact-us .info .form {
    padding-top: 0px;
  }
}
.contact-us .info .form form {
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #FFF;
}
@media screen and (min-width: 992px) {
  .contact-us .info .form form {
    width: 75%;
    padding: 50px;
    position: absolute;
  }
}
.contact-us .info .form form h4 {
  color: #333;
  margin: 5px 0;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.contact-us .info .form form input, .contact-us .info .form form textarea {
  width: 100%;
  border: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 16;
  font-size: 1rem;
  outline: auto 1px #2E3192;
}
.contact-us .info .form form input {
  margin-bottom: 20px;
}
.contact-us .info .form form textarea {
  margin-bottom: 10px;
}
.contact-us .info .form form button {
  width: 100%;
  border: none;
  color: #FFF;
  display: block;
  padding: 10px 0;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #2E3192;
}
.contact-us .info .form form .form-socials {
  left: 40%;
  bottom: -50px;
  position: absolute;
}
.contact-us .info .form form .form-socials a {
  width: 30px;
  display: inline-block;
  box-sizing: border-box;
}
.contact-us .info .form form .form-socials a img {
  width: 15px;
  height: 100%;
}

.footer {
  width: 90%;
  margin: auto;
  min-height: 150px;
  background-color: #2E3192;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 70%;
  }
}
.footer .address {
  color: #FFF;
  padding: 50px;
}
.footer .address p {
  line-height: 16px;
  font-size: 15;
  font-size: 0.9375rem;
}

.navbar-container .navbar {
  width: 80%;
  margin: auto;
  display: grid;
  padding: 30px 0;
  grid-template-columns: 1fr 2fr;
}
.navbar-container .navbar ul {
  margin: 0;
  display: none;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .navbar-container .navbar ul {
    display: block;
  }
}
.navbar-container .navbar ul li {
  display: inline-block;
  line-height: 1.5px;
  text-align: center;
  width: 115px;
}
.navbar-container .navbar ul li .active {
  font-weight: bold;
  border-bottom: solid 1px #2E3192;
}
.navbar-container .navbar ul li a {
  color: #333;
}
.navbar-container .navbar .logo img {
  width: 150px;
  height: auto;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 992px) {
  .container {
    padding-bottom: 0px;
  }
}

.heading {
  font-size: 60;
  font-size: 3.75rem;
}
@media screen and (min-width: 480px) {
  .heading {
    font-size: 80;
    font-size: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 110;
    font-size: 6.875rem;
  }
}

.sub-heading {
  font-weight: 300;
  font-size: 30;
  font-size: 1.875rem;
}
@media screen and (min-width: 480px) {
  .sub-heading {
    font-size: 40;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .sub-heading {
    font-size: 55;
    font-size: 3.4375rem;
  }
}

.button, .btn-secondary, .btn-primary {
  width: 100px;
  margin: 0 5px;
  padding: 10px 0;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  font-size: 15;
  font-size: 0.9375rem;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .button, .btn-secondary, .btn-primary {
    font-size: 20;
    font-size: 1.25rem;
    margin: 0 10px;
    width: 170px;
  }
}

.btn-primary {
  color: #FFF;
  background-color: #2E3192;
  border: solid 2px #2E3192;
}

.btn-secondary {
  color: #2E3192;
  border: solid 2px #FFF;
}

.socials {
  margin-top: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .socials {
    top: 50%;
    right: 50px;
    position: fixed;
  }
}
.socials a {
  margin-right: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .socials a {
    display: block;
    margin-right: 0;
  }
}
.socials a img {
  width: 25px;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
