.about {
    width: 70%;
    margin: auto;
    margin-top: 70px;
    position: relative;
    border-radius: 40px;
    background-color: #EAEAEA;

    h1 {
        top: -75px;
        left: 60px;
        color: $primary;
        position: absolute;
    }

    .info {
        color: #000;
        font-weight: 300;
        padding: 70px 60px;
        @include font-size(20);
    }
}