.about {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    position: relative;
    background-color: #EAEAEA;
    @include md-screen {
        width: 70%;
    }

    h1 {
        top: -40px;
        left: 20px;
        color: $primary;
        position: absolute;
        @include sm-screen {
            top: -75px;
            left: 60px;
        }
    }

    .info {
        color: #000;
        font-weight: 300;
        padding: 70px 20px;
        @include font-size(20);
        @include sm-screen {
            padding: 70px 60px;
            @include grid(1fr 1fr, auto, 10px);          
        }
        .img {
            padding: 20px;
            text-align: center;
            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }
        }
    }
}