.contact-us {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    position: relative;
    background-color: #EAEAEA;
    @include md-screen {
        width: 70%;
    }

    h1 {
        top: -40px;
        left: 20px;
        color: $primary;
        position: absolute;
        @include sm-screen {
            top: -75px;
            left: 60px;
        }
    }

    .info {
        color: #000;
        font-weight: 300;
        padding: 70px 30px;
        @include font-size(20);
        @include lg-screen {
            padding: 70px 60px;
            @include grid(1fr 1fr, auto, 5px);
        }
        .contact-details {
            margin-bottom: 50px;
            h2 {
                color: #333;
                margin-left: 0px;
                @include font-size(20);
                text-transform: uppercase;
                @include md-screen {
                    margin-left: 50px; 
                    @include font-size(25);                   
                }
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    margin-top: 30px;
                    list-style: none;
                    position: relative;
                    @include font-size(15);
                    @include md-screen {
                        @include font-size(18);
                    }
                    img {
                        width: 20px;
                        height: auto;
                        margin-right: 5px;
                        @include sm-screen {
                            width: 30px;
                            margin-right: 20px;
                        }
                    }
                    span {
                        position: absolute;
                    }
                }
            }
        }
        .form {
            z-index: 1;
            padding-top: 20px;
            position: relative;
            @include lg-screen {
                padding-top: 0px;                
            }
            form {
                padding: 15px;
                border-radius: 8px;
                box-sizing: border-box;
                background-color: #FFF;
                @include lg-screen {
                    width: 100%;
                    padding: 50px;
                    position: absolute;
                }
                h4 {
                    color: #333;
                    margin: 5px 0;
                    font-weight: 300;
                    text-align: center;
                    text-transform: uppercase;
                }
                input, textarea {
                    width: 100%;
                    border: none;
                    padding: 10px;
                    @include poppin;
                    box-sizing: border-box;
                    @include font-size(16);
                    outline: auto 1px $primary;
                }
                input {
                    margin-bottom: 20px;
                }
                textarea {
                    margin-bottom: 10px;
                }
                button {
                    width: 100%;
                    border: none;
                    color: #FFF;
                    display: block;
                    padding: 10px 0;
                    border-radius: 2px;
                    text-transform: uppercase;
                    background-color: $primary;
                }
                .form-socials {
                    left: 40%;
                    bottom: -35px;
                    position: absolute;   
                    a {
                        width: 30px;
                        display: inline-block;
                        box-sizing: border-box;
                        img {
                            width: 15px;
                            height: 100%;
                        }
                    }         
                }
                #sending {
                    padding: 10px;
                    display: none;
                    text-align: center;
                    margin-bottom: 10px;
                    @include font-size(15);
                    color: transparentize(blue, .1);
                    background-color: transparentize(blue, .8);
                }
            }
        }
    }
}
.footer {
    width: 90%;
    margin: auto;
    min-height: 150px;
    background-color: $primary;
    @include md-screen {
        width: 70%;        
    }
    .address {
        color: #FFF;
        padding: 50px;
        p {
            line-height: 16px;
            @include font-size(15);
        }
    }
}