.button {
    width: 100px;
    margin: 0 5px;
    padding: 10px 0;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    @include font-size(15);
    text-transform: uppercase;
    @include sm-screen {
        @include font-size(20);
        margin: 0 10px;
        width: 170px;        
    }
}

.btn-primary {
    color: #FFF;
    @extend .button;
    background-color: $primary;
    border: solid 2px $primary;
}

.btn-secondary {
    @extend .button;
    color: $primary;
    border: solid 2px #FFF;
}