.button {
    width: 170px;
    margin: 0 10px;
    padding: 10px 0;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    @include font-size(20);
    text-transform: uppercase;
}

.btn-primary {
    @extend .button;
    background-color: $primary;
    border: solid 2px $primary;
    color: transparentize(#FFF, .2);
}

.btn-secondary {
    @extend .button;
    color: $primary;
    border: solid 2px transparentize(#FFF, .2);
}