.navbar-container {
    .navbar {
        width: 80%;
        margin: auto;
        display: grid;
        padding: 20px 0;
        grid-template-columns: 1fr 2fr;
        ul {
            margin: 0;
            padding: 20px 0;
            li {
                display: inline-block;
                text-align: center;
                width: 80px;
                .active{
                    font-weight: bold;
                    text-decoration: underline;
                }                
            }
        }
        .logo {
            img {
                width: 150px;
                height: auto;
            }
        }
    }
}