.navbar-container {
    .navbar {
        width: 80%;
        margin: auto;
        display: grid;
        padding: 30px 0;
        grid-template-columns: 1fr 2fr;
        ul {
            margin: 0;
            padding: 15px 0;
            li {
                display: inline-block;
                text-align: center;
                width: 110px;
                .active{
                    font-weight: bold;
                    // text-decoration: underline;
                    border-bottom: solid 1px $primary;
                }    
                a {
                    color: #333;
                }            
            }
        }
        .logo {
            img {
                width: 150px;
                height: auto;
            }
        }
    }
}