.navbar-container {
    .navbar {
        width: 80%;
        margin: auto;
        display: grid;
        padding: 30px 0;
        grid-template-columns: 1fr 2fr;
        
        ul {
            margin: 0;
            display: none;
            padding: 10px 0;
            @include md-screen {
                display: block;
            }
            li {
                display: inline-block;
                line-height: 1.5px;
                text-align: center;
                width: 115px;
                .active{
                    font-weight: bold;
                    // text-decoration: underline;
                    border-bottom: solid 1px $primary;
                }    
                a {
                    color: #333;
                }            
            }
        }
        .mobile {
            top: 90px;
            left: 0;
            padding: 0;
            z-index: 3;
            width: 100%;
            display: block;
            position: absolute;
            background-color: #333;
            li {
                width: 100%;
                text-align: left;
                line-height: normal;
                display: block !important;
                border-bottom: solid 1px #666;
                .active{
                    border: none !important;
                    font-weight: bold;
                }
                a {
                    width: 100%;
                    color: #FFF;
                    padding: 10px 40px;
                    display: block;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 9%;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-bottom-color: #333;
                border-top: 0;
                margin-left: -20px;
                margin-top: -20px;
            }
        }
        .logo {
            img {
                width: 150px;
                height: auto;
            }
        }
        .burger {
            text-align: right;
            display: inline-block;
            @include md-screen {
                display: none;
            }
            img {
                width: 30px;
                height: auto;
            }
        }
    }
}