.socials {
    top: 50%;
    right: 50px;
    width: 25px;
    position: fixed;
    a {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        img {
            width: 25px;
            height: 100%;
        }
    }
}